# Ignore files
.env
.env.local
.env.prod

# Ignore virtual environment files
__pycache__
*.pyc
*.egg-info
*.dist-info

# Ignore build artifacts
build/
dist/
venv/

# Ignore other files and directories
*.txt
*.log
*.tmp
*.bak
*.swp
Thumbs.db
ehthumbs.db